/* You can add global styles to this file, and also import other style files */
.upload {
    background-color: #eee;
    border-radius: 5px;
    margin:5px;
    width: 99%;
    height: 500px;
    border: dotted 3px #aaa;
}

.upload .img-ul-upload {
    background-color:	#428bca !important;
}

.upload .img-ul-clear {
    background-color: rgb(255, 0, 0) !important;
}

.upload .img-ul-drag-box-msg {
    color:	#428bca !important;
}

.upload .img-ul-container {
    background-color: 	white !important;
    width: 50%;
}

