<ng-container *ngIf="open">
  <div class="upload-button">
      <button type="button" (click)="toggle()" class="btn btn-primary">{{ buttonName }}</button>
  </div>
</ng-container>

<!-- <ng-container *ngIf="show">
  <div class="dropzone" appDnd (filesChangeEmitter)="onSelectFile($event)">
    <div class="text-wrapper">
      <div class="centered">Drop here!</div>
    </div>
  </div>
</ng-container> -->

<ng-container *ngIf="show">
  <image-upload url="https://httpbin.org/status/200"></image-upload>
</ng-container>

<ng-container *ngIf="back">
  <div class="upload-button">
      <button type="button" (click)="toggle()" class="btn btn-primary">{{ buttonName }}</button>
  </div>
</ng-container>