.dropzone {
    min-height: 400px;
    min-width: 400px;
    height: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
  }
  
  .text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
 

  /* .dropzone-list > ul {
    width: 30%;
    list-style: none;
  }
  .dropzone-list > ul > li:before {
    content : '+';
    color: #6def9a;
  }
  .dropzone-list > ul > li {
    border: 1px solid black;
    padding-bottom: 5px;
    padding-left: 10px;
  } */

  .upload-button {
    padding: 70px 0;
    text-align: center;
    margin-top: 15%;
  }


