<!-- UPLOAD FIELD + CAPTION FIELD-->
<ng-container>
  <div class="dropzone" appDnd (filesChangeEmitter)="formToggle(true)" #coverFilesInput (change)="onChange($event)" class="file-input"  >
    <image-upload 
      [max]="100"
      [buttonCaption] = "'Upload'"
      [class]="'upload'"
      [maxFileSize]="1048576"
      [extensions]="['jpg','jpeg','png','gif']"
      [dropBoxMessage]="'Drop here!'"
      [style]="'customStyle'"
      (removed)="onRemoved($event)"
      (uploadFinished)="onUploadFinished($event)">
    </image-upload>
  </div>
  <br>
  <ng-container *ngIf="showCaptionField">
    <app-upload-form></app-upload-form>
  </ng-container>

</ng-container>




